# ----------------------------
# Java
# ----------------------------
*.class
*.log
*.jar
*.war
*.ear

# ----------------------------
# Maven
# ----------------------------
target/
!src/main/resources/static/
!src/main/resources/public/

# ----------------------------
# Logs
# ----------------------------
*.log
logs/
*.out

# ----------------------------
# IntelliJ
# ----------------------------
.idea/
*.iml
*.iws
out/

# ----------------------------
# Eclipse
# ----------------------------
.project
.classpath
.c9/
.settings/
.springBeans

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# OS-specific
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Environment variables
# ----------------------------
.env
.env.*

# ----------------------------
# Docker
# ----------------------------
docker-compose.override.yml
docker-compose.dev.yml
*.pid

# ----------------------------
# Others
# ----------------------------
bin/
build/
*.swp
